*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    overflow: hidden;
    border-radius: 10px;
}

.superior {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.80);
    user-select: none;
    -webkit-app-region: drag;
}

.titulo {
    margin: 0 auto;
    font-size: 0.8rem;
    color: white;
    cursor: move;
}

.punto {
    cursor: pointer;
    border-radius: 45%;
    margin: 12px;
    height: 0.7rem;
    width: 0.7rem;
    background-color: darkred;
    -webkit-app-region: no-drag;
}

.copiar, .cierre {
    color: transparent;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.5s;
}

.cierre {
    transform: rotate(45deg);
}

.cierre:hover, copiar:hover {
    color: white;
}
